/* Taken from http://bootsnipp.com/snippets/8deZ */
.btn-circle {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 2px 0;
    font-size: 20px;
    line-height: 1.65;
    border-radius: 30px;
}